@font-face {
  font-family: "EvilIcons";
  src: url('../assets/fonts/EvilIcons.eot');
  src: url('../assets/fonts/EvilIcons.eot?#iefix') format('eot'),
  url('../assets/fonts/EvilIcons.woff2') format('woff2'),
  url('../assets/fonts/EvilIcons.woff') format('woff'),
  url('../assets/fonts/EvilIcons.ttf') format('truetype'),
  url('../assets/fonts/EvilIcons.svg#EvilIcons') format('svg');
}

@mixin ei-styles {
  font-family: "EvilIcons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
}

%ei {
  @include ei-styles;
}

@function ei-char($filename) {
  $char: "";

  @if $filename == gear {
  $char: "\E001";
}
  @if $filename == heart {
  $char: "\E002";
}
  @if $filename == star {
  $char: "\E003";
}
  @if $filename == trash {
  $char: "\E004";
}

@return $char;
}

@mixin ei($filename, $insert: before, $extend: true) {
&:#{$insert} {
  @if $extend {
    @extend %ei;
  } @else {
    @include ei-styles;
  }
  content: ei-char($filename);
}
}

.ei-gear {
  @include ei(gear);
}
.ei-heart {
  @include ei(heart);
}
.ei-star {
  @include ei(star);
}
.ei-trash {
  @include ei(trash);
}